
<div class="page-container" mat-dialog-content>
    <div class="rectangle">
        <div class="send"><img src="assets/1389030-1@1x.png" width="30px">&nbsp;&nbsp;&nbsp;Send to</div>
        <img class="line" src="assets/line-4@1x.png" />
        <label for="sendto"></label>
        <input type="email" class="sent" id="sendto" placeholder="abcd@gmail.com"
        style="width: 400px;">
        <button type="button" (click)="send()" class="btn btn-primary">Send</button>
        <button type="button" class="btn btn1-primary">Cancel</button>

    </div>
</div>
