<div class="page-container">
    <div class="rectangle">
        <div class="create"><img role="img" src="assets/2152657-2@1x.png">&nbsp;&nbsp;Invoice Preview</div>
        <img class="line" src="assets/line-4@1x.png">
        <div class="subjects">
            Subject&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invoice xxx&nbsp;xxxxxxx&nbsp;xxx&nbsp;xxxxx
            <br>
            Invoice For&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ABC Company Pvt Ltd
            <br>
            Issue Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12/11/2020
            <br>
            PO Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; XYZ 23453234
            <br>
            Due Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;23/11/2020
            <br>
            Discount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ₹&nbsp;1000.00
        </div>
        <div class="from">
            <b>From</b>
            <br>
            50 South main street,
            <br>
            Suite 200,Naperville,
            IL 60540
        </div>
        <div class="rectangle-2">
            <div class="info">Item Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Description</div>
            <div class="q-u-c">Quantity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unit Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CGST%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SGST%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount</div>
            <img class="line-1" src="assets/line-4@1x.png">
            <div class="xxx" style="font-size: 20px;">
            
          xxxxxxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xxxx xxxxxx xxxxx
          xxxxxxxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          ₹ xxxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          xx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹
          xxxxxx
            </div>
            <img class="line-2" src="assets/line-4@1x.png">
            <div class="xxx-1" style="font-size: 20px;">
                xxxxxxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xxxx xxxxxx xxxxx
          xxxxxxxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          ₹ xxxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          xx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹
          xxxxxx
            </div>
        </div>
        <div class="rectangle-3">
            <div class="details">
                Amount
                <br>
                Discount
                <br>
                Total Amount
            </div>
            <div class="info-1">
                ₹ 10,000.00
                <br>
                ₹ 1000.00
                <br>
                ₹ 9000.00
            </div>
            

    </div>
    <img class="line-5" src="assets/line-4@1x.png">
    <button type="button" style="width: 120px;" class="btn btn2-primary" (click)= "openModalPopup()" >Send</button>
    <button type="button" (click)="totalpreview()" style="width: 120px;" class="btn btn4-primary" >Submit</button>

    
</div>
<footer class="company">
    <a href="#" style="text-decoration: none;"
      ><img role="img" src="assets/path-2274@1x.png" />
      &nbsp;847-769-8937&nbsp;&nbsp;<img
        role="img"
        src="assets/path-2273@1x.png"
      />
      &nbsp;sales@ensarsolutions.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
    >Copyright@2020 Ensar Solutions.
  </footer>
