<div class="page-container">
    <div class="rectangle">
        <img class="success" src="assets/group-1331@1x.png">
        <div class="text">Your Invoice <span>#243123</span> was sent to <br><span>ABC Company Pvt Ltd</span> successfully</div>
    </div>
    
</div>
<footer class="company">
    <a href="#"
      style="text-decoration: none;"><img role="img" src="assets/path-2274@1x.png" />
      &nbsp;847-769-8937&nbsp;&nbsp;<img
        role="img"
        src="assets/path-2273@1x.png"
      />
      &nbsp;sales@ensarsolutions.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
    >Copyright@2020 Ensar Solutions.
  </footer>
