<div class="page-container">
    <div class="rectangle">
        <div class="create"><img role="img" src="assets/2152657-2@1x.png">&nbsp;&nbsp;Pay Invoice</div>
        <img class="line" src="assets/line-4@1x.png">
        <div class="subjects">
          
          Invoice For&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ABC Company Pvt Ltd
          <br />
          Issue Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12/11/2020
          <br />
          PO Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; XYZ 23453234
          <br />
          Due
          Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;23/11/2020
          <br />
          Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹&nbsp;10,000.00<br>
          Discount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          ₹&nbsp;1000.00<br>
          Total Amount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ₹&nbsp;9000.00
        </div>
        <img class="line-2" src="assets/line-18@1x.png">
        <div class="rectangle-2">
            <div class="rectangle-5">
                <div class="credit" (click)="credit()" ><img src="assets/path-2456@1x.png" width="40px"><br> Credit card</div>
            </div>
          <div class="rectangle-4">
            <div class="debit" (click)="debit()"><img src="assets/1621626@1x.png" width="40px"><br>Debit card</div>
        </div>
        <div class="rectangle-6">
            <input type="radio" class="phoneradio" ><img class="phonepe" src="assets/phonepe-logo-wine@1x.png" width="140px">
        </div>
        <div class="rectangle-7">
            <input type="radio" class="amazonradio"><img class="amazon" src="assets/amazon.png" width="120px">

        </div>
        <div class="rectangle-8">
            <input type="radio" class="paytmradio"><img class="paytm" src="assets/paytm-logo@1x.png" width="100px" >

        </div>
        <div class="rectangle-9">
            <input type="radio" class="mobikwikradio"><img class="mobikwik" src="assets/mobikwik.png" width="120px" >

        </div>
        <div class="rectangle-10">
            <input type="radio" class="gpayradio"><img class="gpay" src="assets/image-1@1x.png" width="100px">

        </div>
            <div class="wallet"><img src="assets/path-2461@1x.png"width="40px"><br>Wallet</div>
            </div>
        <button type="button" class="btn btn-primary">Continue</button>
        <button type="button" class="btn btn1-primary">Cancel</button>
    </div>
    <footer class="company">
      <a href="#" style="text-decoration: none;"
        ><img role="img" src="assets/path-2274@1x.png" />
        &nbsp;847-769-8937&nbsp;&nbsp;<img
          role="img"
          src="assets/path-2273@1x.png"
        />
        &nbsp;sales@ensarsolutions.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
      >Copyright@2020 Ensar Solutions.
    </footer>
</div>


