 <div class="page-container">
        <div class="sidebar">
            <img class="logo" role="img" src="assets/group-1220-1@1x.png">
            <div class="navbar-nav">
                <div class="dashboard"><img  role="img" src="assets/path-2406@1x.png">&nbsp;&nbsp;DashBoard</div><br>
                <a class="nav-link" routerLinkActive="active" routerLink="/screen3" class="dashboard-1"><img class="dash" role="img" src="assets/2152657@1x.png">&nbsp;&nbsp;Create Invoice</a>
                <a routerLink="/screen6" routerLinkActive="active" class="dashboard-2"><img class="dash" role="img" src="assets/path-2403@1x.png">&nbsp;&nbsp;My Invoices</a> 
                <div class="dashboard-3"><img class="dash" role="img" src="assets/path-2400@1x.png">&nbsp;&nbsp;My Contacts</div>
            </div>
            <div class="rectangle">
                <div class="text">John Smith</div>
                <img class="face" role="img"  src="assets/nopath---copy@1x.png" alt="john" >
                <div class="log"><a href="#" style="text-decoration: none;" > Log Out</a></div>
                <img class="logout" role="img" src="assets/1286969@1x.png">
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>

       
